@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',  sans-serif;

}

body{
    background-color: #f84a4a;
    background: linear-gradient(to right,#f6d2d2,  #f99393);
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
    height: 100vh;
}

h1{
    font-weight: 400;
    text-align: center;
}

p{
    font-weight: 700;
}

.search-bar{
    background-color: rgba(248,74,74,50%);
    border-radius: 80px;
    padding: 8px;
    width: 80%;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.search-bar input{
    background: none;
    width: 100%;
    outline: none;
    font-size: 18px;
    border: none;
    color: #ffffff;
}

.search-bar input::placeholder{
    color: #fff;
}

.search-text{
    padding-left: 20px ;
}

.ask-button{
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 80px;
    border: none;
    padding: 10px;
    font-weight: 700;
    color: #f84a4a;
    justify-content:right;
    text-decoration: none;
    font-size: 20px;
}

.arrow{
    max-width: 18px ;
    max-height: 18px;
    cursor: pointer;
}

.post{
    background-color: #ffffff;
    border-radius: 30px;
    padding: 30px;
    width: 80%;
}

.post-title{
    color: #f84a4a;
    font-weight: 700;
}

.post-username{
    color: #464646;
    font-weight: 500;
}

.comment{
    background-color: #ffffff;
    border-radius: 40px 40px 0px 0px;
    padding: 20px;
    width: 80%;
    list-style-type: none;
    justify-items: center;
    margin-top: 30px; 

}

h5{
    align-items: right;
    color: #464646;
    font-size: 8px;
}

.username{
    font-weight: 500;
    color: #464646;
}

.username h2{
    font-size: 25px;
    font-weight: 700;
    color: #f84a4a;
    margin-right: 20px;
}

.user-comments .username{
    display: flex;
    align-items: center;
}

.user-text{
    color: #464646;
    padding: 25px;
    width: 100%;
}

.user-tag{
    background-color: #D9D9D9;
    color: #464646;
    font-weight: 600;
    border-radius: 50px;
    padding: 11px;
    text-align: center;
    font-size: 18px;
}

.user-img{
    width: 100px;
    padding: 20px;
}

.comment-bar{
    background-color: #c1c1c1;
    border-radius: 15px;
    padding: 10px;
    width: 1031px;
    display: flex;
    justify-content: center;
}

.comment-bar input::placeholder{
    color: #333333;
}

.container{
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 30%);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-text{
    background: none;
    width: 100%;
    outline: none;
    font-size: 18px;
    border: none;
    color: #333333;
    padding-left: 10px;
}

.send{
    width: 25px;
}
/*==================================================================================== */
/* Nav-bar */

li,a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 25px;
    color: #f84a4a;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 0px 10%;
    background-color: #ffffff;
}

.header-navigation{
    display: flex;
    align-items: center;
}
.header-navigation a{
    text-decoration: none;
    width: 50%;
    font-weight: bold;
    font-size: 30px;
    color: #f84a4a;
}

header a:hover{
    transition: all 0.4s ease 0s;
    color: #f99393;
}

.logout{
    padding: 9px 25px;
    cursor: pointer;
    background-color:#f84a4a;
    color: #ffffff;
    border: none;
    border-radius: 40px;
    transition: all 0.4s ease 0s;
}

.logout:hover{
    background-color: #D63737;
    transition: all 0.4s ease 0s;
}

.header-img{
    max-width: 40%;
    max-height: 40%;
    display: flex;
    align-items: center;
    padding: -1;
}

.logo {
    width: 110px;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 50px;
}

.nav-links li a{
    transition: all 0.3 ease 0s;
}

.nav-links li a:hover{
    transition: all 0.4s ease 0s;
    color:#f99393;
}

.logout-button{
    padding: 9px 25px;
    cursor: pointer;
    background-color:#f84a4a;
    color: #ffffff;
    border: none;
    border-radius: 80px;
}

/*========================================================================*/
/* Pop-up */

.cont{
    display: flex;
    flex-direction: column;
}

.cont.active .blur{
   filter: blur(10px);
   pointer-events: none;
   user-select: none;
}

#popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background: #fff;
    visibility: hidden; 
    opacity: 0;
    transition: 0.5s;
    border-radius: 20px;
}

#popup a{
    padding-bottom: 30px;
    padding-left: 30px;
}

#popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    filter: none;
}

.comment-box{
    width: 50%;
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 25%;
    margin-top: 80px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);    
}

#popup p{
    text-align: left;
    font-size: 28px;
    color: #f84a4a;
}

.popup-form input, .popup-form textarea{
    width: 100%;
    padding: 10px 10px 10px 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    outline: none;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    color: #777;
    background: #eee;
}

.popup-form button{
    background-color: #f84a4a;
    margin-bottom: 10px;
    border-radius: 15px;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    transition: all 0.4s ease 0s;
}

button:hover{
    border-radius: 40px;
    transition: all 0.4s ease 0s;
    background-color: #D63737;
}

@media(max-width: 900px){
    .comment-box{
        width: 80%;
        margin: 5%;
    }
}
.popup-form input[type="radio"] {
    width: 17px;
    margin: 15px;
}
.popup-form .options{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topic
{
    margin-bottom: 20px;
}


.progtop
{
    font-weight: 700;
    color: #fff;
    background: #464646;
    border-radius: 5px;
    padding: 5px;
}

.mathtop
{
    font-weight: 700;
    color: #fff;
    background: #f84a4a;
    border-radius: 5px;
    padding: 5px;
}

.topic{
    margin-bottom: 30px;
}

.topic label{
    font-weight: 700;
    font-size: 20px;
    color: #f84a4a;
}

.topic select{
    border-radius: 30px;
    background-color: #f84a4a;
    color: #fff;
    border: none;
    padding: 8px;
}

.topic .select-items div,.select-selected{
    background: #333333 ;
    border-radius: 10px;
}