@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',  sans-serif;

}

body{
    background-color: #f84a4a;
    background: linear-gradient(to right,#f6d2d2,  #f99393);
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
    height: 100vh;
}

h1{
    font-weight: 400;
    text-align: center;
}

p{
    font-weight: 700;
}
.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    padding: 0px 10%;
    background-color: #ffffff;
}

.header-navigation{
    display: flex;
    align-items: center;
}
.header-navigation a{
    text-decoration: none;
    width: 50%;
    margin-left: 100px;
    font-weight: bold;
    font-size: 30px;
    color: #f84a4a;
}

header a:hover{
    transition: all 0.4s ease 0s;
    color: #f99393;
}
.header-img{
    max-width: 40%;
    max-height: 40%;
    display: flex;
    align-items: center;
    padding: -1;
}
.search-bar{
    background-color: rgba(248,74,74,50%);
    border-radius: 80px;
    padding: 8px;
    width: 80%;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.ask-button{
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 80px;
    border: none;
    padding: 10px;
    font-weight: 700;
    color: #f84a4a;
    justify-content:right;
}

.arrow{
    max-width: 18px ;
    max-height: 18px;
}

.question-popup{
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0);
   transition: 200ms ease-in-out;
   border: 1px solid #464646;
   border-radius: 10px;
   z-index: 10;
   background-color: #ffffff;
   width: 500px;
   max-width: 80%;
}

.question-popup .active{
    transform: translate(-50%, -50%) scale(1);
    background-color: #464646;
}

.popup-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #464646;
}

.popup-header .title{
    font-weight: 700;
    font-size: 15px;
}

.popup-header .go-back{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

.popup-body{
    padding: 10px 15px;
}

#overlay{
    position: fixed;
    opacity: 0;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active{
    opacity: 0;
    pointer-events: all;
}

.popup-title{
    color:#f84a4a;
}

.post{
    background-color: #ffffff;
    border-radius: 30px;
    padding: 30px;
    width: 80%;
    margin: 30px;
}

.post-title{
    color: #f84a4a;
    font-weight: 700;
}

.post-username{
    color: #464646;
    font-weight: 500;
}

comment{
    background-color: #ffffff;
    border-radius: 40px 40px 0px 0px;
    padding: 20px;
    width: 80%;
    list-style-type: none;
    justify-items: center;
    margin-top: 30px;
}

h5{
    align-items: right;
    color: #464646;
}


.username{
    font-weight: 500;
    color: #464646;

}

.user-text{
    color: #464646;
    padding: 25px;
}

.user-tag{
    background-color: #D9D9D9;
    color: #464646;
    font-weight: 600;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    width: 180px;
}

.user-img{
    width: 100px;
    padding: 20px;
}

.comment-bar{
    background-color: #D9D9D9;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    width: 80%;
    color: #818181;

}
.container{
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 30%);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    
}

li,a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 25px;
    color: #f84a4a;
}

.logo{
    cursor: pointer;
    max-width: 85%;
    max-height: 85%;
    display: flex;
    align-items: center;
    padding: -1;

}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 0px;
}

.nav-links li a{
    transition: all 0.3 ease 0s;
    padding-left: 10px ;
}

.nav-links li a:hover{
    transition: all 0.4s ease 0s;
    color:#f99393;
}

.logout-button{
    padding: 9px 25px;
    cursor: pointer;
    background-color:#f84a4a;
    color: #ffffff;
    border: none;
    border-radius: 80px;
}

.container{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    position: relative;
    overflow: hidden;
    padding: 20px;
}

