@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',  sans-serif;

}

body{
    background-color: #f84a4a;
    background: linear-gradient(to right,#f6d2d2,  #f99393);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

li,a{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 25px;
    color: #f84a4a;
}


.logo{
    cursor: pointer;
    max-width: 85%;
    max-height: 85%;
    display: flex;
    align-items: center;
    padding: -1;
    width: 100px;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20xp;
}

.nav-links li a{
    transition: all 0.3 ease 0s;
    padding-left: 30px ;
}

.nav-links li a:hover{
    transition: all 0.4s ease 0s;
    color:#f99393;
}

h1{
    font-weight: 700;
    text-align: center;
    color: #f84a4a;
}

p{
    font-weight: 700;
    color: #f84a4a;
}

button{
    padding: 9px 25px;
    cursor: pointer;
    background-color:#f84a4a;
    color: #ffffff;
    border: none;
    border-radius: 40px;
}
.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    padding: 0px 10%;
    background-color: #ffffff;
}


.header-navigation{
    display: flex;
    align-items: center;

}

.header-navigation a{
    text-decoration: none;
    width: 50%;
    margin-left: 100px;
    font-weight: bold;
    font-size: 30px;
    color: #f84a4a;
}

header a:hover{
    transition: all 0.4s ease 0s;
    color: #f99393;
}
.header-img{
    max-width: 40%;
    max-height: 40%;
    display: flex;
    align-items: center;
    padding: -1;
}

.container{
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 30%);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;

}

.birdy-curso{
    max-width: 300px;
    max-height: 300px;
}

.math{
    color: #f84a4a;
}

.math-button{
    background-color: #f84a4a;
    display: flex;
    justify-content: space-between;
    margin-right: 45%;
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
    padding: 16px 20px;
    font-size: 25px;
    color: white;
    font-weight: 700;
    box-shadow: 0 8px 0 #D63737;
}

.math-button:active{
    box-shadow: none;
    transform: translateY(8px);
}

.prog{
    color: #2B2B2B;
}

.prog-button{
    background-color: #2B2B2B;
    display: flex;
    justify-content: space-between;
    margin-right: 45%;
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
    padding: 16px 20px;
    font-size: 25px;
    color: white;
    font-weight: 700;
    box-shadow: 0 8px 0 #000000;
}

.prog-button:active{
    box-shadow: none;
    transform: translateY(8px);
}

.logout-button{
    padding: 9px 25px;
    cursor: pointer;
    background-color:#f84a4a;
    color: #ffffff;
    border: none;
    border-radius: 80px;
}

