<!--```html crud_perguntas.html -->
<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="teste.css">
    <title>Birdy</title>
    <link rel="icon" href="assets/Passaro_Birdy.png" type="image/x-icon">
</head>
<body>
    <div class="cont" id="blur">
        <header class="header">
            <a href="index.html"><img src="/assets/logo.png" class="logo"></img></a>
            <nav class="header-navigation">
                <ul class="nav-links">
                    <li><a href="uc.html">Cursos</a></li>
                    <li><a href="forum.html">Fórum</a></li>
                    <li><a href="perfil.html">Perfil</a></li>
                </ul>
            </nav>
            <a href="login.html"><button class="logout">Logout</button></a>
        </header>

        <div class="container">
            <div class="wrapper">
                <h1>Inserir Pergunta</h1>
                <a href="#" onclick="toggle()" class="add-button">&plus;</a>
            </div>

            <div class="wrapper">
                <h1>Inserir Pergunta</h1>
                <a href="#" onclick="toggle()" class="add-button">&plus;</a>
            </div>
        </div>

        <div class="container">
            <!-- Lista de Perguntas -->
            <h2>Lista de Perguntas</h2>
            <ul>
                {% for pergunta in perguntas %}
                    <li>
                        {{ pergunta.pergunta_texto }}
                        <a href="{% url 'editar_pergunta' pergunta.id %}">Editar</a>
                        <a href="{% url 'deletar_pergunta' pergunta.id %}">Deletar</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div class="popup" id="popup">

        <a href="#" onclick="toggle()"><img src="/assets/Seta_2.png" class="arrow"></a>
        <!-- Formulário para criar uma nova pergunta -->
        <form class="popup-form" method="POST" action="{% url 'crud_perguntas' %}" enctype="multipart/form-data">
            <!-- {% csrf_token %} -->

            <label for="Pergunta_texto"></label>
            <input type="text" name="Pergunta" id="pergunta" placeholder="Titulo" >
           
            <div class="samerow-form">
                <label for="Imagem">Imagem:</label>
                <input type="file" name="Imagem" accept="image/*" placeholder="Pergunta">
            </div>
            
            <label for="Resposta1"></label>
            <input type="text" name="Resposta1" id="Resposta1" placeholder="Alternativa 1">
           

            <label for="Resposta2"></label>
            <input type="text" name="Resposta2" id="Resposta2" placeholder="Alternativa 2" >
           

            <label for="Resposta3"></label>
            <input type="text" name="Resposta3" id="Resposta3" placeholder="Alternativa 3" >
            

            <label for="Resposta4"></label>
            <input type="text" name="Resposta4" id="Resposta4" placeholder="Alternativa 4">
            

            <label for="Resposta4"></label>
            <input type="text" name="RespostaCorreta" id="RespostaCorreta" placeholder="Resposta">
            
            
            <div class="samerow-form">
                <label for="Solucao">Solução:</label>
                <input type="file" name="Solucao" accept="image/*">
            </div>

            <label for="Categoria">Categoria:</label>
            <select type="text" name="Categoria">
                <option value="geometria_plana">Geometria Plana</option>
                <option value="operacoes_basicas">Operações Básicas</option>
                <option value="fracoes">Frações</option>
                <option value="porcentagens">Porcentagens</option>
            </select>
        

            <button type="submit">Criar Pergunta</button>
        </form>
    </div>

  
</body>
<script type="text/javascript">
    function toggle(){
        var blur = document.getElementById('blur');
        blur.classList.toggle('active')
        var popup = document.getElementById('popup');
        popup.classList.toggle('active')
    }
</script>
</html>
<!-- ``` -->