@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',  sans-serif;

}

body{
    min-height: 100vh;
    background: #ddd;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 10px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(-45deg, #571845, #c70039);
    display: flex;
    flex-direction: column;
    padding: 20px 5px 0 20px;
    
}

header h2{
    font-size: 32px;
    color: #fff;
    padding-bottom: 5px;
}

.scrollbox{
    overflow: auto;
    padding-right: 10px;
    visibility: hidden;
}

.scrollbox, .scrollbox-inner:hover{
    visibility: visible;
}

.scrollbox-inner p{
    font-size: 16px;
    color:#fff;
}



footer h2{
    font-size: 24px;
    color: #fff;
    padding: 15px 0 40px;
}




